#leftpane
{
	display: block;
	margin-right: auto;
	background: #030708;
	color: #808d92;
	border: 1px solid;
	border-color: #030708;
	width: 220;
	height:	420;
	position: relative;
	top: -410px;
	left: -15px;
}

#rightpane
{
	display: block;
	margin-left: auto;
	background: #030708;
	color: #808d92;
	border: 1px solid;
	border-color: #030708;
	width: 220;
	height:	420;
	position: relative;
	top: -830px;
	left: 15px;
}

.perk1
{
	background: #030708;
	color: #808d92;
	font-size: 16pt;
	margin-left: 0;
	margin-bottom: 40;
	padding: 2 auto;
	width: 210;
	height: 30;
}
.perk2
{
	background: #030708;
	color: #808d92;
	font-size: 16pt;
	margin-left: 8;
	margin-bottom: 15;
	padding: 2 auto;
	width: 210;
	height: 60;
}
.perk3
{
	background: #030708;
	color: #808d92;
	font-size: 16pt;
	margin-left: 8;
	margin-bottom: 38;
	padding: 2 auto;
	width: 210;
	height: 30;
}